*{

box-sizing:border-box;

}


body{

margin:0;

background:#111;

color:#eee;

font-family:sans-serif;

}


#app{

max-width:600px;

margin:auto;

padding:16px;

}


.header{

text-align:center;

}


.tabs{

display:flex;

gap:8px;

margin:10px 0;

}


button{

width:100%;

padding:14px;

margin:5px 0;

border-radius:8px;

border:none;

background:#333;

color:white;

font-size:16px;

}


.panel{

background:#1d1d1d;

padding:15px;

border-radius:12px;

margin-bottom:15px;

}


#resource-list div,
#research-list button{

margin-bottom:6px;

}